svg#layout {
    fill: #fff;
    stroke: indigo;
    stroke-width: 2;

    polyline, path {
      fill: transparent;
    }

    .focus {
      stroke-width: 3;
    }

    text {
      font-family: Times;
      font-style: normal;
      stroke-width: 0;
      fill: indigo;
    }

    .proband {
      font-size: 9px;
    }

    .twin {
      font-size: 12px;
      stroke-width: 0;
    }

    path.arrow {
      stroke-width: 1.5;
      fill: indigo;
    }
}
